@using TrainStationProject.Models.Entites
@model List<Voyage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var stations = TempData["Stations"] as List<Station>;
    int count = 0;
}


<h1>Sefer Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>

        <th>Kalkış İstasyon Adı</th>
        <th>Varış İstasyon Adı</th>
        <th>Kalkış Saati</th>
        <th>Varış Saati</th>
        <th>Sil</th>
        <th>Düzenle</th>

    </tr>
    @foreach (var item in Model)
    {
        var DepatureStation = stations.FirstOrDefault(s => s.Id == item.DepartureStationId);
        var ArrivalStation = stations.FirstOrDefault(s => s.Id == item.ArrivalStationId);
        <tr>
            @{
                count = count + 1;
            }
            <td>@count</td>


            <td>@DepatureStation.StationName</td>
            <td>@ArrivalStation.StationName</td>
            <td>@item.DepartureTime</td>
            <td>@item.ArrivalTime</td>
            <td><a href="/Voyage/DeleteVoyage/@item.Id" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Voyage/UpdateVoyage/@item.Id" class="btn btn-outline-success">Güncelle</a></td>

        </tr>
    }
</table>


<a href="/Voyage/AddVoyage/" class="btn btn-outline-primary">Yeni Kullanıcı Kaydı</a>